#POscura{
    background-color: rgb(149, 24, 40);
    width: 380px;
    height: 510px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 10px;
    position: relative;
}

#Primeraparte{
    background-color: rgb(206, 17, 49);
    width: 370px;
    height: 500px;
    margin-left: 10px;
    margin-top: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 10px;
    position: relative;
}

#PArriba{
    background-color: rgb(129, 10, 30);
    width: 210px;
    height: 90px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 100px;
    content: "";
    position: absolute;
}

#PArriba::before{
    background-color: rgb(206, 17, 49);
    width: 200px;
    height: 80px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 100px;
    content: "";
    position: absolute;
}

#PArriba2{
    background-color: rgb(129, 10, 30);
    width: 175px;
    height: 40px;
    margin-left: 195px;
    border-top-right-radius: 10px;
    content: "";
    position: absolute;
}

#PArriba2::before{
    background-color: rgb(206, 17, 49);
    width: 175px;
    height: 30px;
    border-top-right-radius: 10px;
    content: "";
    position: absolute;
}

#FRojo{
    background-color: rgb(189, 15, 52);
    width: 200px;
    height: 50px;
    margin-top: 40px;
    margin-left: 120px;
    border-top-right-radius: 10px;
    content: "";
    position: absolute;
    border-color: rgb(155, 11, 37);
    border-right-style: solid;
    border-width: 1px;
}

#CBlanco{
    background-color: white;
    width: 65px;
    height: 65px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 100px;
    position: absolute;
}

#CAzul{
    background-color: rgb(0, 157, 212);
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 100px;
    position: absolute;
}

#CCeleste{
    background-color: rgb(11, 205, 255);
    width: 35px;
    height: 35px;
    margin-left: 5px;
    border-radius: 100px;
    position: absolute;
}

#CClaro{
    background-color: rgb(156, 232, 255);
    width: 10px;
    height: 10px;
    margin-top: 5px;
    margin-left: 12px;
    border-radius: 100px;
    position: absolute;
}

/*Foco Rojo */
#Rojo{
    background-color: rgb(239, 6, 9);
    width: 20px;
    height: 20px;
    margin-left: 80px;
    margin-top: 8px;
    border-radius: 100px;
    position: absolute;
}

#ROscuro{
    background-color: rgb(155, 4, 4);
    width: 17px;
    height: 17px;
    margin-left: 3px;
    margin-top: 3px;
    border-radius: 100px;
    position: absolute;
}

#RChico{
    background-color: rgb(239, 6, 9);
    width: 10px;
    height: 10px;
    border-radius: 100px;
    position: absolute;
}
/*Foco Rojo */

/*Focos Amarillos */
.Amarillos{
    background-color: rgb(226, 230, 21);
    width: 20px;
    height: 20px;
    margin-left: 110px;
    margin-top: 8px;
    border-radius: 100px;
    position: absolute;
}

.AOscuros{
    background-color: rgb(128, 132, 11);
    width: 17px;
    height: 17px;
    margin-left: 3px;
    margin-top: 3px;
    border-radius: 100px;
    position: absolute;
}

.AChicos{
    background-color: rgb(226, 230, 21);
    width: 10px;
    height: 10px;
    border-radius: 100px;
    position: absolute;
}

.espacios{
margin-left: 140px;
}
/*Focos Amarillos */

/* Centro */
#Centro{
    background-color: rgb(189, 15, 52);
    width: 310px;
    height: 400px;
    margin-left: 10px;
    margin-top: 90px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 30px;
    position: absolute;
    border-color: rgb(155, 11, 37);
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
}



#Marco{
    /*background-color: rgb(106, 107, 112);*/
    background: repeating-linear-gradient(45deg,
    transparent 0, transparent 10%, rgb(106, 107, 112) 0, rgb(106, 107, 112) 100%
    );
    width: 280px;
    height: 200px;
    margin-left: 10px;
    margin-top: 15px;
    content:"";
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
}

#Marco::before{
    /*background-color: rgb(222, 222, 222);*/
    background: repeating-linear-gradient(45deg,
    transparent 0, transparent 10%, rgb(222, 222, 222) 0, rgb(222, 222, 222) 100%
    );
    width: 275px;
    height: 195px;
    margin-left: 5px;
    content: "";
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
}

#PImagen{
    background-color: rgb(241, 242, 211);
    width: 220px;
    height: 150px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 15px;
    position: absolute;
    border-color: gray;
    border-right-style: solid;
    border-top-style: solid ;
    border-width: 1px;
}

.imagen{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 60px;
}

.imagenInternet{
    width: 200px;
    height: 200px;
    margin-top: -25px;
    margin-left: 10px;
}


#BotonN{
    
    background-color: rgb(5, 5, 5);
    width: 50px;
    height: 50px;
    margin-top: 220px;
    margin-left: 10px;
    border-radius: 100px;
    content: "";
    position: absolute;
}

#BotonAccion{
    background-color: rgb(34, 34, 34);
    width: 42px;
    height: 42px;
    margin-left: 7px;
    border-radius: 100px;
    content: "";
    position: absolute;
}

#BotonR{
    background-color: red; /* rgb(199, 12, 19);*/
    width: 60px;
    height: 15px;
    border-radius: 10px;
    margin-top: 235px;
    margin-left: 85px;
    position: absolute;
}

#BotonA{
    background-color: rgb(9, 83, 120); /* rgb(199, 12, 19);*/
    width: 60px;
    height: 15px;
    border-radius: 10px;
    margin-top: 235px;
    margin-left: 160px;
    position: absolute;
}

#CruzA{
    background-color: rgb(13, 13, 13);
    width: 30px;
    height: 80px;
    border-radius: 5px;
    margin-top: 235px;
    margin-left: 240px;
    content: "";
    position: absolute;
}

#CruzA::before{
    background-color: rgb(13, 13, 13);
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: -25px;
    content: "";
    position: absolute;
}

#CruzF{
    background-color: rgb(38, 38, 38);
    width: 20px;
    height: 75px;
    border-radius: 5px;
    margin-top: 236px;
    margin-left: 247px;
    content: "";
    position: absolute;
}

#CruzF::before{
    background-color: rgb(38, 38, 38);
    width: 75px;
    height: 25px;
    border-radius: 5px;
    margin-top: 26px;
    margin-left: -28px;
    content: "";
    position: absolute;
}
#Circulito{
    background-color: rgb(38, 38, 38);
    width: 20px;
    height: 20px;
    border-radius: 100px;
    margin-top: 264px;
    margin-left: 247px;
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#PantallaV{
    background-color: rgb(85, 171, 98);
    width: 180px;
    height: 70px;
    border-radius: 5px;
    margin-top: 300px;
    margin-left: 40px;
    color: blanchedalmond;
}

#PantallaV::placeholder{
    color: blanchedalmond;
}

/* Bisagra */
#Bisagra{
    background-color: rgb(206, 17, 49);
    width: 40px;
    height: 475px;
    margin-top: 30px;
    margin-left: 330px;
    border-color: rgb(140, 14, 36);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    position: absolute;
}

#Aros{
    width: 38px;
    height: 12px;
    margin-top: 30px;
    border-color: rgb(140, 14, 36);
    border-top-style: solid;
    border-width: 1px;
    border-radius: 100px;
}

#Aros::before{
    width: 38px;
    height: 12px;
    margin-top: 380px;
    border-color: rgb(140, 14, 36);
    border-top-style: solid;
    border-width: 1px;
    border-radius: 10px;
    content: "";
    position: absolute;
}

#ArosB{
    width: 38px;
    height: 12px;
    border-color: rgb(140, 14, 36);
    border-top-style: solid;
    border-width: 1px;
    border-radius: 10px;
    position: absolute;
}

#ArosB::before{
    width: 38px;
    height: 12px;
    margin-top: 380px;
    border-color: rgb(140, 14, 36);
    border-top-style: solid;
    border-width: 1px;
    border-radius: 10px;
    position: absolute;
    content: "";
}

#Cuadrito{
    width: 9px;
    height: 12px;
    margin-left: 20px;
    border-color: rgb(140, 14, 36);
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
}

#Cuadrito::before{
    width: 9px;
    height: 12px;
    margin-top: 381px;
    border-color: rgb(140, 14, 36);
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    content: "";
    position: absolute;
}

#CirculoN{
    width: 40px;
    height: 20px;
    background-color: rgb(129, 10, 30);
    border-radius: 30px;
    margin-top: 417px;
    margin-left: -1px;
    position: relative;
}

/* Bisagra */
/* Centro */

/* Cuerpo 2 */

#ParteSuperior2{
    background-color: rgb(206, 17, 49);
    width: 180px;
    height: 100px;
    margin-top: 60px;
    margin-right: 400px;
    border-top-right-radius: 100px;
    content: "";
    position: absolute;
}

#ParteSuperior2::before{
    background-color: rgb(149, 24, 40);
    width: 170px;
    height: 90px;
    margin-top: 10px;
    margin-right: 400px;
    border-top-right-radius: 100px;
    border-top-left-radius: 37px;
    content: "";
    position: absolute;
}

#ParteSuperior2::after{
    background-color: rgb(206, 17, 49);
    width: 160px;
    height: 80px;
    margin-top: 20px;
    margin-right: 400px;
    border-top-right-radius: 100px;
    content: "";
    position: absolute;
}

#CostadoDerecho{
    background-color: rgb(206, 17, 49);
    width: 185px;
    height: 40px;
    margin-top: 120px;
    margin-left: 165px;
    content: "";
    position: absolute;
}

#CostadoDerecho::before{
    background-color: rgb(149, 24, 40);
    width: 185px;
    height: 30px;
    margin-top: 10px;
    margin-left: -10px;
    border-top-left-radius: 20px;
    content: "";
    position: absolute;
}

#CostadoDerecho::after{
    background-color: rgb(206, 17, 49);
    width: 180px;
    height: 20px;
    margin-top: 20px;
    margin-left: -15px;
    border-top-right-radius: 10px;
    content: "";
    position: absolute;
}

#Centro2{
    background-color: rgb(206, 17, 49);
    width: 350px;
    height: 345px;
    margin-top: 160px;
    border-bottom-right-radius: 30px;
    position: absolute;
}

#Centro2::before{
    background-color: rgb(149, 24, 40);
    width: 330px;
    height: 335px;
    content: "";
    margin-left: 10px;
    border-bottom-right-radius: 30px;
    position: absolute;
}

#Centro2::after{
    background-color: rgb(206, 17, 49);
    width: 320px;
    height: 335px;
    content: "";
    margin-left: 10px;
    border-bottom-right-radius: 15px;
    position: absolute;
    border-color: rgb(140, 14, 36);
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
}

#Linea{
    border-color: rgb(140, 14, 36);
    width: 1px;
    height: 80px;
    margin-top: 80px;
    margin-left: 10px;
    position: absolute;
    border-left-style: solid;
    border-width: 1px;
}

#PantallaN{
    background-color: rgb(3, 45, 41);
    width: 240px;
    height: 120px;
    margin-top: 150px;
    margin-left: 50px;
    border-radius: 10px;
    position: absolute;
}

#BotonFondo{
    background-color: rgb(31, 90, 215);
    width: 255px;
    height: 85px;
    margin-top: 290px;
    margin-left: 40px;
    border-radius: 5px;
    position: absolute;
}

.BotonesAzules{
    background-color: rgb(49, 167, 241);
    width: 50px;
    height: 40px;
    border-radius: 5px;
    margin-left: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.posicionado{
    margin-top: 290px;
    margin-left: 24px;
    position: absolute;
}
.e1{
    margin-top: -80px;
    margin-left: 55px;
    position: absolute;
}
.e2{
    margin-top: -40px;
    margin-left: 55px;
    position: absolute;
}
.e3{
    margin-top: -80px;
    margin-left: 105px;
    position: absolute;
}
.e4{
    margin-top: -40px;
    margin-left: 105px;
    position: absolute;
}
.e5{
    margin-top: -80px;
    margin-left: 155px;
    position: absolute;
}
.e6{
    margin-top: -40px;
    margin-left: 155px;
    position: absolute;
}
.e7{
    margin-top: -80px;
    margin-left: 205px;
    position: absolute;
}
.e8{
    margin-top: -40px;
    margin-left: 205px;
    position: absolute;
}

#BotonN2{
    background-color: rgb(9, 83, 120); /* rgb(199, 12, 19);*/
    width: 50px;
    height: 10px;
    border-radius: 10px;
    margin-top: 385px;
    margin-left: 190px;
    position: absolute;
}

#BotonN2::before{
    background-color: rgb(9, 83, 120); /* rgb(199, 12, 19);*/
    width: 50px;
    height: 10px;
    border-radius: 10px;
    margin-left: 55px;
    content: "";
    position: absolute;
}

#BotonBlanco{
    background-color: rgb(106, 106, 114);
    width: 105px;
    height: 45px;
    border-radius: 5px;
    margin-top: 400px;
    margin-left: 40px;
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#BotonBlanco::before{
    background-color: rgb(222, 222, 222);
    width: 50px;
    height: 40px;
    margin-left: 3px;
    border-radius: 5px 0px 0px 5px;
    content: "";
    position: absolute;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
}

#BotonBlanco::after{
    background-color: rgb(222, 222, 222);
    width: 50px;
    height: 40px;
    margin-left: 53px;
    border-radius: 0px 5px 5px 0px;
    content: "";
    position: absolute;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
}

#CirculoDorado{
    background-color: rgb(139, 134, 53);
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-top: 410px;
    margin-left: 260px;
    position: absolute;
}

#CirculoDorado::before{
    background-color: rgb(197, 186, 70);
    width: 18px;
    height: 18px;
    border-radius: 10px;
    margin-top: 2px;
    margin-left: 2px;
    content: "";
    position: absolute;
}

#PantallaChica{
    background-color: rgb(3, 45, 41);
    width: 105px;
    height: 40px;
    margin-top: 450px;
    margin-left: 40px;
    border-radius: 5px;
    position: absolute;
}

#PantallaChica2{
    background-color: rgb(3, 45, 41);
    width: 105px;
    height: 40px;
    margin-top: 450px;
    margin-left: 180px;
    border-radius: 5px;
    position: absolute;
}
/* Cuerpo 2 */

p{
    color: rgb(235, 208, 17);
    font-size: 15px;
}

.infoStats{
    color: rgb(235, 208, 17);
    font-size: 10px;
}

.menError{
    background-color:crimson;
    color: white;
    font-size: 15px;
}

.info{
    margin-top: -50px;
    color: black;
    font-size: 15px;
}
